# 660710075 ชลธี เกิดก่อวงศ์

In [ ]:
import numpy as np
import pandas as pd

In [46]:
food = pd.read_csv("E:/Unitversity/Data Analiz/Lab_Week/week3/mexican.csv")

In [47]:
food.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [48]:
food.sort_values(by='quantity',ascending=False)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
...,...,...,...,...,...
1592,645,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1593,645,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95
1594,646,1,Carnitas Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$9.25
1595,646,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [49]:
food.quantity.mean()

1.0757247944612722

In [50]:
food.size

23110

In [51]:
food.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [56]:
food.quantity.head(20).mean(numeric_only=True)

1.1

In [57]:
food.quantity.dtypes

dtype('int64')

In [58]:
food.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [59]:
food.quantity.max()

15

In [60]:
food.std(numeric_only=True)

order_id    528.890796
quantity      0.410186
dtype: float64

In [61]:
food.quantity.min()

1

In [62]:
food.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [70]:
food.sort_values(by = 'quantity', ascending = False, inplace = True)
food.head(30)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
4152,1660,10,Bottled Water,NaN,$15.00
3887,1559,8,Side of Chips,NaN,$13.52
3599,1443,7,Bottled Water,NaN,$10.50
2441,970,5,Bottled Water,NaN,$7.50
4490,1786,4,Canned Soft Drink,[Coke],$5.00
4491,1786,4,Canned Soft Drink,[Sprite],$5.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00
1425,577,4,Bottled Water,NaN,$6.00
4489,1786,4,Chips and Guacamole,NaN,$17.80
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00
1257,511,4,Chips and Fresh Tomato Salsa,NaN,$11.80
3973,1592,4,Canned Soft Drink,[Coke],$5.00
2235,901,4,Canned Soda,[Sprite],$4.36
1880,759,4,Bottled Water,NaN,$6.00
917,379,3,Canned Soft Drink,[Lemonade],$3.75
4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
2823,1121,3,Bottled Water,NaN,$3.27
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
3270,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
4186,1671,3,Bottled Water,NaN,$4.50
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
4137,1655,3,Bottled Water,NaN,$4.50
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75
3089,1231,3,Canned Soft Drink,[Diet Coke],$3.75
2944,1170,3,Side of Chips,NaN,$5.07

In [67]:
food.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [68]:
food.shape

(4622, 5)